.Item {
    border-radius: 7px;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    width: 48%;

    .itemHeader {
        background-color: #808B96;
        font-size: 20pt;
        height: 50px;
        width: 100%;
    }

    .itemHeader:hover {
        background-color: rgb(57, 62, 66);
    }
}